@charset "ISO-8859-1";

body {
 background-image: url("https://cdn.wallpapersafari.com/36/34/J058rw.jpg");
 background-size: 100% 200%;
 background-repeat: no-repeat;

}

h4 h1 {
	font-family: serif;
	
}