<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExpenseReimbursement</display-name>
<!--   there seems to be a problem with this file -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHomePage</display-name>
    <servlet-name>EmployeeHomePage</servlet-name>
    <servlet-class>com.revature.login.EmployeeHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomePage</servlet-name>
    <url-pattern>/EmployeeHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerHomePage</display-name>
    <servlet-name>ManagerHomePage</servlet-name>
    <servlet-class>com.revature.login.ManagerHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomePage</servlet-name>
    <url-pattern>/ManagerHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrViewEmployees</display-name>
    <servlet-name>MgrViewEmployees</servlet-name>
    <servlet-class>com.revature.controller.MgrViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrViewEmployees</servlet-name>
    <url-pattern>/MgrViewEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrViewRequests</display-name>
    <servlet-name>MgrViewRequests</servlet-name>
    <servlet-class>com.revature.controller.MgrViewRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrViewRequests</servlet-name>
    <url-pattern>/MgrViewRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrViewPending</display-name>
    <servlet-name>MgrViewPending</servlet-name>
    <servlet-class>com.revature.controller.MgrViewPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrViewPending</servlet-name>
    <url-pattern>/MgrViewPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpViewPending</display-name>
    <servlet-name>EmpViewPending</servlet-name>
    <servlet-class>com.revature.empcontrol.EmpViewPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpViewPending</servlet-name>
    <url-pattern>/EmpViewPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpViewResolved</display-name>
    <servlet-name>EmpViewResolved</servlet-name>
    <servlet-class>com.revature.empcontrol.EmpViewResolved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpViewResolved</servlet-name>
    <url-pattern>/EmpViewResolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpViewInformation</display-name>
    <servlet-name>EmpViewInformation</servlet-name>
    <servlet-class>com.revature.empcontrol.EmpViewInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpViewInformation</servlet-name>
    <url-pattern>/EmpViewInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrViewRequestForm</display-name>
    <servlet-name>MgrViewRequestForm</servlet-name>
    <servlet-class>com.revature.controller.MgrViewRequestForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrViewRequestForm</servlet-name>
    <url-pattern>/MgrViewRequestForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpUpdateForm</display-name>
    <servlet-name>EmpUpdateForm</servlet-name>
    <servlet-class>com.revature.empcontrol.EmpUpdateForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpUpdateForm</servlet-name>
    <url-pattern>/EmpUpdateForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpSubmitRequest</display-name>
    <servlet-name>EmpSubmitRequest</servlet-name>
    <servlet-class>com.revature.empcontrol.EmpSubmitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpSubmitRequest</servlet-name>
    <url-pattern>/EmpSubmitRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrViewResolved</display-name>
    <servlet-name>MgrViewResolved</servlet-name>
    <servlet-class>com.revature.controller.MgrViewResolved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrViewResolved</servlet-name>
    <url-pattern>/MgrViewResolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrMakeDecision</display-name>
    <servlet-name>MgrMakeDecision</servlet-name>
    <servlet-class>com.revature.controller.MgrMakeDecision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrMakeDecision</servlet-name>
    <url-pattern>/MgrMakeDecision</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPerformUpdate</display-name>
    <servlet-name>EmpPerformUpdate</servlet-name>
    <servlet-class>com.revature.empcontrol.EmpPerformUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPerformUpdate</servlet-name>
    <url-pattern>/EmpPerformUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPerformSubmit</display-name>
    <servlet-name>EmpPerformSubmit</servlet-name>
    <servlet-class>com.revature.empcontrol.EmpPerformSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPerformSubmit</servlet-name>
    <url-pattern>/EmpPerformSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrFinalDecision</display-name>
    <servlet-name>MgrFinalDecision</servlet-name>
    <servlet-class>com.revature.controller.MgrFinalDecision</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrFinalDecision</servlet-name>
    <url-pattern>/MgrFinalDecision</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>